.icon-tick
  background-image: url('../images/sprite.png')
  background-position: 0px 0px
  width: 13px
  height: 10px
  +breakpoint(retina)
    background-image: url('../images/sprite-2x.png')
    background-size: 13px 10px

