.about
  border-bottom: solid rem-calc(2) #f0f0f0
  padding-top: rem-calc(30)
  padding-bottom: rem-calc(5)
  background-image: url('../images/section_bg.jpg')
  background-position: 50% 50%

  &-avatar
    margin-left: auto
    margin-right: auto
    margin-bottom: rem-calc(30)
    border-radius: 50%
    width: rem-calc(138)
    height: rem-calc(138)
    background-color: #dddddd
    background-position: 50% 50%
    background-size: cover
    +breakpoint(medium)
      margin-left: 0
      margin-right: 0
      margin-bottom: 0

  &-items
    position: relative

  &-item
    margin-bottom: rem-calc(30)
    border-bottom: solid rem-calc(2) #333333
    padding-bottom: rem-calc(5)
    font-size: rem-calc(12)
    text-transform: uppercase
    letter-spacing: rem-calc(0.1em)
    color: #666666

    &-contacts
      position: relative
      z-index: 1

  &-approved
    position: absolute
    right: rem-calc(-16)
    bottom: rem-calc(-21)
    width: rem-calc(120)
    height: rem-calc(108)
    +breakpoint(medium)
      width: rem-calc(184)
      height: rem-calc(166)
