.level
  padding-top: rem-calc(30)
  padding-bottom: rem-calc(30)
  background-image: url('../images/section_bg.jpg')
  background-position: 50% 50%
  +breakpoint(medium)
    padding-top: rem-calc(58)
    padding-bottom: rem-calc(64)

  &-graph
    position: relative
    margin-left: auto
    margin-right: auto
    margin-bottom: rem-calc(30)
    width: rem-calc(253)
    +breakpoint(medium)
      margin-bottom: 0
      width: auto

  &-diagram
    width: rem-calc(253)
    height: rem-calc(127)

  &-arrow
    position: absolute
    left: 50%
    bottom: 0
    margin-left: rem-calc(-32)
    width: rem-calc(64)
    height: rem-calc(18)
    @include transition(0.5s)

  &-info
    margin-top: rem-calc(6)
    text-align: center
    +breakpoint(medium)
      padding-left: rem-calc(45)
      text-align: left

  &-title
    margin-bottom: 0
    font-size: rem-calc(18)
    line-height: rem-calc(24)

  &-score
    margin-bottom: 0
    font-weight: 900
    font-size: rem-calc(50)
    letter-spacing: rem-calc(0.05em)
    color: #0093d7
