.skills
  border-bottom: solid rem-calc(2) #f0f0f0
  padding-top: rem-calc(30)
  background-image: url('../images/section_bg.jpg')
  background-position: 50% 50%

  &-item
    margin-bottom: rem-calc(35)
    overflow: hidden

  &-title
    padding-left: rem-calc(10)
    padding-right: rem-calc(10)
    font-size: rem-calc(18)

  &-label
    position: relative
    padding-left: rem-calc(27)
    font-size: rem-calc(12)
    letter-spacing: rem-calc(0.1em)
    line-height: rem-calc(19)
    text-transform: uppercase
    color: #666666

    &:after
      content: ""
      position: absolute
      top: rem-calc(4)
      left: rem-calc(3)
      opacity: 0
      background-size: cover
      @include sprite($tick)
      @include transition()

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      border-radius: rem-calc(5)
      width: rem-calc(19)
      height: rem-calc(19)
      background-color: #eeeeee

  &-input
    position: absolute
    left: rem-calc(-9999)

    & + .skills-label
      margin-left: 0

    &:checked
      & + .skills-label
        &:before
          background-color: #0093d7

        &:after
          opacity: 1
