*
  box-sizing: border-box

body, html
  height: 100%

.wrapper
  +breakpoint(medium)
    display: flex
    align-items: center
  @media only screen and (min-height: 50em)
    height: 100%

  &-form
    width: 100%
    +breakpoint(medium)
      width: rem-calc(660)

.icon
  display: inline-block
  vertical-align: middle

[type='text'],
[type='search'],
[type='tel'],
[type='email'],
[type='number']
  appearance: none

.site-container
  margin: 0 auto
  padding:
    left: rem-calc(map-get($grid-column-gutter, small))
    right: rem-calc(map-get($grid-column-gutter, small))
  +breakpoint(medium)
    max-width: $global-width + rem-calc(map-get($grid-column-gutter, medium))
    padding:
      left: rem-calc(map-get($grid-column-gutter, medium)) / 2
      right: rem-calc(map-get($grid-column-gutter, medium)) / 2


.container
  margin: 0 auto
  max-width: $global-width
