include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
  body
    include pug/svg.pug

    div.wrapper
      div.wrapper-form.container
        div.about
          div.row.columns
            div.medium-3.columns
              div.about-avatar(style="background-image: url(images/profile.jpg)")
            div.medium-9.columns
              div.about-items
                p.about-item Александр
                p.about-item 25.12.1993
                p.about-item г. Москва
                p.about-item.about-item-contacts Skype: roovenier, email: fastex93@gmail.com, тел: +79999259707
                +svg('approved').about-approved
        div.skills
          div.row.columns
            p.skills-title Навыки
          div.row.columns
            div.small-6.medium-3.columns
              div.skills-item
                input.skills-input(id="skill_html5", type="checkbox", data-skill="50", checked="true")
                label.skills-label(for="skill_html5") Html5
              div.skills-item
                input.skills-input(id="skill_css3", type="checkbox", data-skill="50", checked="true")
                label.skills-label(for="skill_css3") css3
              div.skills-item
                input.skills-input(id="skill_bem", type="checkbox", data-skill="70", checked="true")
                label.skills-label(for="skill_bem") БЭМ
            div.small-6.medium-3.columns
              div.skills-item
                input.skills-input(id="skill_sass", type="checkbox", data-skill="100", checked="true")
                label.skills-label(for="skill_sass") SASS
              div.skills-item
                input.skills-input(id="skill_less", type="checkbox", data-skill="100", checked="true")
                label.skills-label(for="skill_less") LESS
              div.skills-item
                input.skills-input(id="skill_gulp", type="checkbox", data-skill="120", checked="true")
                label.skills-label(for="skill_gulp") Gulp
            div.small-6.medium-3.columns
              div.skills-item
                input.skills-input(id="skill_vanillajs", type="checkbox", data-skill="150", checked="true")
                label.skills-label(for="skill_vanillajs") VanillaJS
              div.skills-item
                input.skills-input(id="skill_angular", type="checkbox", data-skill="300")
                label.skills-label(for="skill_angular") Angular
              div.skills-item
                input.skills-input(id="skill_jquery", type="checkbox", data-skill="110", checked="true")
                label.skills-label(for="skill_jquery") Jquery
            div.small-6.medium-3.columns
              div.skills-item
                input.skills-input(id="skill_git", type="checkbox", checked="true", data-skill="100")
                label.skills-label(for="skill_git") GIT
              div.skills-item
                input.skills-input(id="skill_foundation", type="checkbox", data-skill="130", checked="true")
                label.skills-label(for="skill_foundation") Foundation
              div.skills-item
                input.skills-input(id="skill_bootstrap", type="checkbox", data-skill="130", checked="true")
                label.skills-label(for="skill_bootstrap") Bootstrap
        div.level
          div.row.columns
            div.medium-5.columns
              div.level-graph
                +svg('graph_rating').level-diagram
                +svg('arrow').level-arrow.js-level-arrow
            div.medium-7.columns
              div.level-info
                p.level-title
                  | Мой уровень владения <br />
                  | Java Script
                p.level-score(id="js-level-score") 0

    include pug/scripts.pug
